@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");

/* สไตล์ของ Header */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal;
  text-align: center;
  font-family : Arial;
}

header {
  background-color: #333;
  color: #fff;
  padding: 30px 0px 30px;
  
}

nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  display: inline;
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

/* สไตล์ของเนื้อหาหลักและส่วนล่าง */
main {
  padding: 20px;
}

/*ส่วนบน*/
.moviesection {
  height: 300px;
  background-color: #fff;
}


.info{
  float: right;
  padding-top: 100px;
  padding-right: 500px;
  font-family: Arial;
  /* font-size: large; */
  text-align: center;

  color: #000000;
  /* background-color: red; */
  width: 545px;
  height: 500x;
}

.poster{
  padding-top: 50x;
  float: left;
  width: 545px;
  height: 500px;
  /* background-color: red; */
}

/*  */
/*  */
/* seat booking style */
body {
	font-family: Arial;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  /* background-color: #242333; */
  color: #000000;
  margin: 0;
}

* {
	font-family: Arial;
  box-sizing: border-box;
}

.movie-container {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

.movie-container select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
  padding: 5px 15px;
  margin-bottom: 40px;
  font-size: 14px;
  border-radius: 5px;
}

.container {
  perspective: 1000px;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seat {
  background-color: #6c6c71;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.selected {
  background-color: #0081cb;
}

.occupied {
  background-color: red;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background: rgba(0,0,0,0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen {
  background: #fff;
  height: 70px;
  width: 70%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(31, 73, 180, 0.7);
}

p.text {
  margin: 40px 0;
}

p.text span {
  color: #0081cb;
  font-weight: 600;
  box-sizing: content-box;
}

.credits a {
  color: #000000;
}

/*  */
/*  */


